/* ͷ�� */

.hed{
    height:71px;
    width:100%;
    background-color:#fff;
    line-height:71px;
    border-bottom:1px solid #e2e5e6;

}
.hed-log{
    float:left;
    width:40px;
    height:40px;
    margin:16px 0;
}
.hed-log a{
    width:40px;
    height:40px;
    float:left;
    margin:auto 0;
}
.hedlog.ico{
    float:left;
    background-position:0 -148px;
    height:40px;
    width:40px;
    margin:auto 0;
    font-size:40px;
    color:#fe5929;

}

.hed .hed-cshi{
    float:left;
    display: block;
    width:40px;
    height:71px;
    margin: 0 48px 0 0;
    padding: 0 15px;
    position: relative;
    user-select: none;

}
.chengshi{
    background-color: #fff;
    box-shadow: 0 0 8px #d0d3d5;
    display: none;
    left: -39px;
    min-height: 160px;
    overflow: hidden;
    padding: 21px 21px;
    position: absolute;
    top: 71px;
    width: 497px;
    border-radius: 3px;

}
.chengshi li {
    float: left;
    width: 82px;
    height: 40px;
    line-height: 40px;
    text-align: center;

}
.chengshi li:hover a{
    color: #ff7b33;
}

.hed-ul{
    float: left;
    width:550px;height:72px;
    user-select: none;
}
.l.hed-ul li{
    float: left;
    height: 68px;
    min-width: 84px;
    position: relative;
    text-align: center;
}

.older {
    color: #333333;
    display: inline-block;
    font-size: 15px;
    height: 70px;
    min-width: 84px;
    text-align: center;
    margin-left: 20px;
}
.older.older-on{
    border-bottom: 4px solid #ff7b33;
    color: #ff7b33; 
}
.dh-xl {
    display: none;
    background-color: #ff7b33;
    border-radius: 6px;
    height: auto;
    position: absolute;
    left: -25px;
    width:145px;
    box-shadow: 0 0 8px #d0d3d5;
    z-index: 9999;
}

.dh-xl a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    background-color: #ff7b33;
    border-radius: 6px;
}
.dh-xl a:hover {
    background-color: #ffa371;
    height: 50px;
    margin-top: -1px;
}
.dh-xl-xl {
    border-bottom: 1px solid #ff9257;
    display: inline-block;
    width: 123px;
    height: 49px;
}
.xl{
    display: block;
    float: left;
    height: 30px;
    margin-left: 9px;
    margin-top: 10px;
    width: 40px;
}
.dh-xl a:first-child .xl-1 {
    background-position: 10px -346px;
}
.dh-xl a:nth-child(2) .xl-2 {
    background-position: 10px -370px;
}
.dh-xl a:nth-child(3) .xl-3 {
    background-position: 10px -406px;
}
.dh-xl a:nth-child(4)  .xl-4 {
    background-position: 10px -426px;
}
.dh-xl a:nth-child(5) .xl-5 {
    background-position: 10px -456px;
}
.dh-xl a:nth-child(6) .xl-6 {
    background-position: 10px -488px;
}
.xl-r{
    font-size: 12px;
    color: #fff8f4;

}
/*����APP ͼƬ*/
.xz-xl{
    display: none;
    width: 146px;
    height: 180px;
    background-color: #ff7b33;
    background-position: -203px 0;
    border-radius: 6px;


    position: absolute;
    left: -31px;
    bottom: -193px;
    padding-top: 10px;

    box-shadow: 0 0 8px #d0d3d5;
    -webkit-box-shadow: 0 0 8px #d0d3d5;

    z-index: 200;
    user-select: none;
}
.xl-xs.ico {
    background-position: -195px 0;
    display: block;
    height: 130px;
    width: 100%;
}
.xz-xl .xz-wz{
    display: block;
    width: 100%;
    height: 20px;
    font-size:12px;
    line-height: 20px;
    color: #fff;
    margin-top: 5px;
}



.mar-r .dh-fl{
    float:left; width:84px;height:72px;
}

.hed-sj {  
    width: 11px;
    height: 7px;
    background-position: 0 -39px;
    margin: 32px 0 0 5px;
    transition: all 0.3s ease 0s;
    
}
.xl-xs-l:hover .hed-sj {
    transform: rotate(180deg);

}


.hed-su form {
    float: left;
    margin:auto 0;
    height:38px;
    line-height:38px;
    position:relative;
}
.su-tb.ico{
    width:40px;
    height:40px;
    background-position:0 -57px;
    background-repeat:no-repeat;

    font-size: 39px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.mar-r {
    margin-right: 20px;
}

.wode-dongxi {
    width: 158px;
    float: left;
}
.wd-dz {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    padding-left: 20px;
    margin-right: 20px;
}
.wd-dz li{
    float: left;
    font-size:12px;
    list-style: none;
}

.wode-dongxi li a{
    display: inline-block;
    font-size: 12px;
    color: #424242;
}
.wode-dongxi li:nth-child(2) a{
    margin-right: 10px;
}
.wode-dongxi li:last-child a{
    margin-left: 10px;
}

.wd-dz .wd-dz-bor {
    height: 12px;
    margin-top: 9px;
    border-right: 1px solid #424242;
}
.yhtb.ico{
    width: 16px;
    height: 30px;
    background-position:-90px -1570px;
    background-repeat:no-repeat;
    margin-right: 10px;

}

.hed .hed-su {
    height: 42px;
    padding: 15px 0;
    position: relative;
}
.hed .hed-su .su-ipt {
    display:block;
    border: 1px solid #dedede;
    border-radius: 22px;
    color: #ff6633;
    font-size: 12px;
    height: 38px;
    padding-left: 16px;
    width: 246px;
    margin:auto 0;
    transition: width 250ms linear;

}
.hed .hed-su .su-ipt:focus{
    width:300px;
} 
/*登录之后显示个人中心*/
.su-wd{
    display: none;
    height: 50px;
    line-height:50px; 
    margin:auto 20px;
    padding:5px;
    cursor: pointer;
    position: relative;
    

}
.su-wd:hover .wd-sj{
    transform: rotate(180deg);

}
.su-wd:hover .wd-tanchuang2{
    display: block;

}
.su-wd img{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.su-wd .wd-name{
    float: left;
    width: 30px;
    height:40px;
    font-size:12px ;
    margin:0 5px;
}
.su-wd .wd-sj{
    margin: 20px 5px;
    transition:all 100ms linear;
}
.wd-tanchuang2{
    display: none;
    width: 120px;
    height:190px;
    border-radius: 3px;
    box-shadow: 0 0 8px #d0d3d5;
    background-color: #fff;
    font-size:13px;
    list-style: none;

    padding: 20px;

    position: absolute;
    top:60px;
    left:20px;
    
}
.wd-tanchuang2 a{
    display: block;
    width: 110px;
    height:30px;
    line-height: 30px;
}
.wd-tanchuang2 a li{
    width: 110px;
    border-bottom:1px solid #e2e5e6;
    
}
.wd-tanchuang2 .i-ico{
    font-size: 13px;
    font-style: normal;
    margin-left:5px;
}


/*面包屑导航*/
.older-jc{
    font-size:12px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    color: #919d9e;
    margin-top: 70px;
    margin-bottom: 5px;

}
.older-jc a{ color: #919d9e}